.catemaindiv{
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    background: #a87a3b;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
    color: white;
    z-index: 2;
    align-items: center;
}

