


 .navbarwith{
    width: 105%!important;
    position: fixed!important;
  
    z-index: 2;
    
}
.latesttextprodel {
    margin-top: 6rem!important;
   
    margin-bottom: -2rem!important;
    margin-left: 1rem!important;
}
.latesttext{
    
     text-align: center;
    margin-bottom: -2rem!important;
    margin-left: 1rem!important;
}

.latesttext1{
    margin-top: 7rem!important;
     text-align: center;
    margin-bottom: -2rem!important;
    margin-left: 1rem!important;
}

.modifymenu{

    width: 300px;
    height: 47rem;
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(-244px, -22px, 0px);
}

@media screen and (max-width: 780px) {
.mobileswrchview{
    width: 25rem;
}
   
    .cartlist1{
        margin-left: 8rem;
    }
    .navbarwith{
        width: 105%!important;
        position: fixed!important;
        top: 0;
        z-index: 2;
        
    }

    .latesttext{
      
        font-size: 24px!important;
        margin-bottom: -2.5rem!important;
        margin-left: 1rem!important;
    }

    .productImg{
        margin-top: 10rem;
    margin-right: 2rem;
    z-index: -1;
    }
  }

  
@media screen and (max-width: 912px) {
    .mobileswrchview{
        width: 25rem;
    }
        .cartlist{
           display: flex;
           justify-content: center;
           align-items: center;
        }
        .cartlist1{
            margin-left: 8rem;
        }
        .navbarwith{
            width: 105%!important;
            position: fixed!important;
            top: 0;
            z-index: 2;
            
        }
    
        .latesttext{
          
            font-size: 24px!important;
            margin-bottom: -2.5rem!important;
            margin-left: 1rem!important;
        }
    
        .productImg{
            margin-top: 10rem;
        margin-right: 2rem;
        z-index: -1;
        }
      }